@import "common/settings/variables";
@import "common/utils";

.se-home-first-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image: url(https://lp.humaniq.com/img/waves-platform.png);
  background-repeat: no-repeat;
  background-position: 100% 0;

  &__content {
    position: relative;
    margin: 60px 0 0 60px;
    font-family: $font-ProximaNova;
    @include media($tablet) {
      margin: 0;
    }
  }

  &__title {
    margin-bottom: 60px;
    font-weight: 700;
    color: $color-black;
    font-size: 82px;
    line-height: 1.2;
    @include media($desktop-xxl) {
      font-size: 51px;
      margin-bottom: 30px;
    }
    @include media($tablet) {
      font-size: 30px;
    }
    @include media($mobile) {
      font-size: 28px;
    }
    @include media($mobile-xs) {
      font-size: 22px;
    }
  }
  &__subtitle {
    margin-bottom: 80px;
    color: $color-text-gray;
    font-size: 40px;
    line-height: 1.2;
    @include media($desktop-xxl) {
      margin-bottom: 50px;
      font-size: 28px;
    }
    @include media($tablet) {
      font-size: 20px;
    }
    @include media($mobile) {
      br {
        display: none;
      }
    }
  }
  &__info-columns {
    display: flex;
    @include media($mobile) {
      flex-direction: column;
    }
  }
  &__info-column {
    margin-right: 106px;
    &:nth-last-child(1) {
      margin-right: 0;
    }
    @include media($mobile) {
      margin-right: 0;
      margin-bottom: 30px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
    &-image {
      margin-bottom: 25px;
      width: 70px;
      height: 74px;
    }
    &-title {
      margin-bottom: 36px;
      font-size: 31px;
      font-weight: 700;
      color: #000;
      @include media($desktop-xxl) {
        margin-bottom: 24px;
        font-size: 22px;
      }
    }
    &-text {
      color: #000;
      font-size: 21px;
      line-height: 1.3;
      @include media($desktop-xxl) {
        font-size: 15px;
      }
      @include media($mobile) {
        br {
          display: none;
        }
      }
    }
  }

  &__button {
    display: inline-block;
    position: absolute;
    right: 12.4%;
    bottom: 7.5%;
    @include media($tablet) {
      position: relative;
      margin-top: 30px;
      right: 0;
      bottom: 0;
    }
    @include media($mobile-xs) {
      display: none;
    }
  }
}