@import "common/settings/variables";
@import "common/utils";

.se-home-opportunities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://lp.humaniq.com/img/waves-extra-platform.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: relative;

  &__content {
    width: 1200px;
    position: relative;
    margin: 60px 0 0 60px;
    font-family: $font-ProximaNova;
    @include media($desktop-xxl) {
      width: 745px;
      margin: 60px 0 0 106px;
    }
    @include media($tablet) {
      width: auto;
      margin: 0;
    }
  }

  &__title {
    margin-bottom: 60px;
    font-weight: 700;
    color: $color-black;
    font-size: 82px;
    line-height: 1.2;
    @include media($desktop-xxl) {
      font-size: 51px;
      margin-bottom: 30px;
    }
    @include media($tablet) {
      font-size: 30px;
    }
    @include media($mobile) {
      font-size: 28px;
    }
    @include media($mobile-xs) {
      font-size: 22px;
    }
  }
}