@import "common/settings/variables";
@import "common/utils";

.se-home-section-counter {
  position: absolute;
  top: 31.2%;
  left: 7.6%;
  font-family: Celdum,sans-serif;
  font-weight: 700;
  font-size: 36px;
  transform: rotate(-90deg);
  &_theme {
    &_dark {
      color: $color-black;
    }
    &_bright {
      color: $color-main-blue;
    }
  }
  @include media($desktop-xxl) {
    top: 25%;
    font-size: 24px;
  }
  @include media($tablet) {
    top: 125px;
    left: 10px;
  }
}


.se-home-section-button {
  padding: 15px 22px;
  line-height: 1;
  color: $color-main-blue;
  border: 2px solid $color-main-blue;
  font-family: $font-ProximaNova;
  font-weight: 700;
  font-size: 16.5px;
  letter-spacing: .3em;
  text-transform: uppercase;
  transition: background-color .3s,color .2s linear;
  cursor: pointer;
  &:hover {
    background-color: $color-main-blue;
    color: $color-white;
  }
  @include media($desktop-xxl) {
    padding: 9px 15px;
    font-size: 12px;
  }
}


.se-home-info-columns {
  $this: &;
  display: flex;
  @include media($mobile) {
    flex-direction: column;
  }
  &_type {
    &_narrow {
      #{$this}__column {
        width: 400px;
        @include media($desktop-xxl) {
          width: 300px;
        }
        @include media($mobile) {
          width: auto;
        }
      }
    }
  }

  &__column {
    width: 500px;
    margin-right: 106px;
    &:nth-last-child(1) {
      margin-right: 0;
    }
    @include media($desktop-xxl) {
      width: 300px;
      margin-right: 80px;
    }
    @include media($mobile) {
      width: auto;
      margin-right: 0;
      margin-bottom: 30px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
    &-image {
      margin-bottom: 25px;
      width: 70px;
      height: 74px;
    }
    &-title {
      margin-bottom: 36px;
      font-size: 31px;
      font-weight: 700;
      color: $color-black;
      @include media($desktop-xxl) {
        margin-bottom: 24px;
        font-size: 22px;
      }
    }
    &-text {
      color: $color-black;
      font-size: 21px;
      line-height: 1.3;
      @include media($desktop-xxl) {
        font-size: 15px;
      }
    }
  }
}