@import "common/settings/variables";
@import "common/utils";

.se-home-what-makes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-white;

  &__background {
    position: absolute;
    max-width: 635px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: -8%;
	@include media($tablet) {
	  top: 30px;
	  transform: translateY(0);
	  max-width: 330px;
	}
  }

  &__content {
    position: relative;
    margin: 60px 0 0 60px;
    font-family: $font-ProximaNova;
    @include media($tablet) {
      margin: 0;
    }
  }

  &__title {
    margin-bottom: 60px;
    font-weight: 700;
    color: $color-black;
    font-size: 82px;
    line-height: 1.2;
    @include media($desktop-xxl) {
      font-size: 51px;
      margin-bottom: 30px;
    }
    @include media($tablet) {
      font-size: 30px;
    }
    @include media($mobile) {
      font-size: 28px;
    }
    @include media($mobile-xs) {
      font-size: 22px;
    }
  }
  &__subtitle {
    margin-bottom: 80px;
    color: $color-text-gray;
    font-size: 40px;
    line-height: 1.2;
    @include media($desktop-xxl) {
      margin-bottom: 50px;
      font-size: 28px;
    }
    @include media($tablet) {
      font-size: 20px;
    }
    @include media($mobile) {
      br {
        display: none;
      }
    }
  }
}